.main-menu-title {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-menu-title-sub {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-title {
  cursor: pointer;
}
