<div class="aside-content">
  <aside class="mdc-temporary-drawer mdc-typography">
    <nav class="mdc-temporary-drawer__drawer">
    <button id="aside-close" class=" mdc-temporary-drawer__toolbar-spacer mdc-button">
        <span class="mdc-theme--text-primary mdc-typography--title"><i class="material-icons mdc-list-item__start-detail">close</i>Close</span>
    </button>
      <nav class="mdc-temporary-drawer__content mdc-list">
        {{ partial "menu-aside/items" . }}
      </nav>
    </nav>
  </aside>
</div>
