<main id="main" class="main-content mdc-toolbar-fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <section class="mdc-card__primary">
          <div class="mdc-typography--display3">Whoops!
            <div class="material-icons">bug_report</div>
          </div>
          <div class="mdc-typography--display1">Someone let a bug in the house. It has a <span class="mdc-theme--accent">404</span> on its belly.</div>
        </section>
    </div>
    </div>
  </div>
</main>