{{ define "header" }}
{{- partial "hero" . -}}
{{ end }}

{{ define "main" }}
<div class="mdc-typography ">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary"></div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary mdc-layout-grid__cell--align-middle">
            <div class="mdc-card">
              <section class="mdc-card__primary" style="text-align: center">
                <h1 class="mdc-card__title mdc-card__title--large">
                  <span class="mdc-theme--primary mdc-typography--display3">{{ .Site.Params.description }}</span>
                </h1>
                <h2 class="mdc-card__subtitle--large">
                  <span class="mdc-theme--secondary">{{ .Title }}</span>
                </h2>
              </section>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary">
            {{ range where .Data.Pages.ByDate "Type" "splash" }}
              {{ .Content }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-theme--primary">
            {{ partial "taxonomies" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
